
.header_logo {
  max-height: 46px;
  cursor: pointer;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin: 0;
}

.header_links {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px 0 0 0;
    width: 620px;
    max-width: 100%;

    li {
      transition: .3s;

      &:hover {
        color: rgb(152, 221, 181);
        cursor: pointer;
      }
    }
  }
}

.link_text {
  font-size: 16px;
  margin: auto 0;
}

.hire_button {
  background: #0094FF;
  border-radius: 4px;
  padding: 16px 60px;
  margin: 0 30px 0 0;
  transition: .3s;

  &:hover {
    background-color: rgb(0, 185, 255);
  }

  p {
    transition: .3s;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown_content {
    display: block;

  }
}

.dropdown_content {
  transition: .2s;
  display: none;
  position: absolute;
  left: -10px;
  top: 18px;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;

  a {
    transition: .2s;
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #f1f1f1;
      color: rgb(152, 221, 181);
    }
  }
}


@media (max-width: 1100px) {
  .header_links {
    ul {
      width: 420px;
    }
  }
}


